<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>ngTimepicker</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="src/css/ngTimepicker.css">
</head>
<body ng-controller="Ctrl as ctrl">
	
	<ng-timepicker ng-model="ctrl.time"></ng-timepicker>
	{{ ctrl.time }}

	<ng-timepicker ng-model="ctrl.time2" theme="red" show-meridian="true"></ng-timepicker>
	{{ ctrl.time2 }}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script type="text/javascript" src="src/js/ngTimepicker.min.js"></script>
<script type="text/javascript">
var app = angular.module('app', ['jkuri.timepicker']);
app.controller('Ctrl', [function() { 
	
}]);
</script>
</body>
</html>